version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: apptemplate-vuetify
    ports:
      - "3001:80"
    networks:
      - frontend-network

networks:
  frontend-network:
    driver: bridge
